@import "../../../styles/variables";

.listItem { 
  &.active {
    svg, a {
      color: $primary-color;
    }
  }

  svg {
    color: $gray-100;
    margin-right: .625rem;
  }

  a {
    display: flex;

    color: $gray-100;
    text-transform: uppercase;   

    padding: 0 10px;

    &:hover {
      filter: brightness(0.7);
    }
  }
}
