$primary-color: #FBB900;
$secondary-color: #F0D075;
$background: #FEF6E7;

$white: #ffffff;
$black: #4D4D4D;

$gray-100: #9F9F9F;
$gray-200: #E5E5E5;
$gray-300: #F0F0F0;


$poppins-light-300: 300;
$poppins-regular-400: 400;
$poppins-medium-500: 500;
$poppins-semibold-600: 600;
$poppins-bold-700: 700;
$poppins-extrabold-800: 800;
$poppins-black-900: 900;