@import "./variables";
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  body, input, textarea, button{
    font-family: 'Poppins', sans-serif;
    font-weight: $poppins-regular;
    font-size: 1rem;
    line-height: 1.125rem;
  }

  a {
    cursor: pointer;
    transition: 180ms ease-in-out;
    text-decoration: none;
  }

  ul {
    list-style: none;
    text-align: left;
    padding: 0;
    
  }

  :focus {
    outline: 0;
    box-shadow: 0 0 0 2px $primary-color;
    border-radius: 10px;
  }


